@font-face {
  font-family: 'Sono';
  src: url('./font/Sono-Regular.woff2') format('woff2');
}

.main-background {
  background-color: #16161f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  font-family: 'Sono';
  color: white;
  font-size: 4em;
  text-align: center;
}

.sub-header {
  font-family: 'Sono';
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.play-row {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.play-button {
  width: 30%;
  height: 4%;
  background-color: green;
  border-style: solid;
  text-align: center;
}

